.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.b-day{
  padding: 100px;
  color: rgb(242, 235, 240);
 background-color: rgba(243, 103, 194, 0.914)  ;
  box-shadow: 5px 5px 7px 0px rgb(244, 153, 202);
  size: large;
  border: solid rgb(180, 102, 239) 3.2mm ;
  border-right-color: #bd2aee;
  border-radius: 30px;
  border-spacing: 100mm;
  padding: 5mm 5mm 5mm 5mm;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .5s linear;
  }
}

.App-header {
  background-color: #4a7fe8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f661fb;
  padding: 5mm;
  flex-wrap: wrap;
  size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

